ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #518fff;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #1464f6;
            color: white;
        }

.active {
    background-color: #a8c6fa;
    color: black;
}


table {
    border-collapse: separate;
    border-spacing: 10px;
    *border-collapse: expression('separate', cellSpacing='10px');
    text-align: center;
}

#side {
    width: 200px;
}

#data, td {
    border-radius: 25px;
    border: 2px solid #D3D3D3;
    padding: 1px 10px 1px 10px;
    width: 200px;
    height: 150px;
}
#footer {
    border-bottom: 1px solid #ddd;
}

i {
    padding: 1px 10px 1px 10px;
}

.button {
    border: 2px solid transparent;
    text-align: center
}

#options {
    border-radius: 25px;
    border: 2px solid #D3D3D3;
    padding: 20px;
    width: 200px;
    height: 180px;
    margin: 10px;
}

input[type=text] {
    border: 3px solid #D3D3D3;
    border-radius: 8px;
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    background-color: #518fff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    border-radius: 12px;
}

.footer {
    vertical-align: top;
    text-align: left;
    padding: 3px;
    background-color: #518fff;
    color: white;
    border: 2px solid transparent;
}
footer {
    text-align: left;
    padding: 3px;
    background-color: #518fff;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

    a:hover {
        color: black;
    }